body { height: 100%; margin-top: 0; width: 100%; margin: auto; padding-top: 0; }

.nom { font-family: 'Roboto', sans-serif; font-size: 24px; float: left; margin-left: 10vh;}

.cadre { font-family: 'Roboto'; display: flex; flex-direction: column; float: right; margin-right: 10vh; color: black; text-decoration: none;}

.taille { height: 3vh; width: 3vh;}

.pcv { display: flex; z-index: 3; position: relative; margin-top: 5em; border-radius: 160px; margin-left: 100vh; box-shadow: 2px 2px 12px #555;}

.metier { display: flex; margin-left: 100vh; align-items: center; font-family: 'Roboto', sans-serif; color: white; font-size: 22px; position: absolute;}

.trait { display: flex; height: 10vh; width: 100%; background-color: #1C4C7C; position: absolute;}

.experience { display: flex; justify-content: flex-start; flex-direction: column; width: 35%; font-family: 'Roboto', sans-serif; color: #AFB5B5;}

.autre_experience {display: flex; justify-content: flex-start; flex-direction: column; width: 35%; font-family: 'Roboto', sans-serif; color: #AFB5B5;}

strong { color: #00CECE;}

section { display: flex; margin-top: 10vh; width: 100%; margin-left: 5vh;}

aside { display: flex; flex-direction: column; width: 50vh; margin-left: 15vh;}

.formations {display: flex; align-items: center; flex-direction: column; justify-content: center; height: 30%; font-family: 'Roboto', sans-serif; background-color: #7CD4FC; }

.competences { display: flex; align-items: center; flex-direction: column; justify-content: center; height: 30%; font-family: 'Roboto', sans-serif; background-color: #9CF47C; }

.langues { display: flex; align-items: center; flex-direction: column; justify-content: center; height: 30%; font-family: 'Roboto', sans-serif; background-color: #FCFC8C; }

.liens { display: flex; align-items: center; flex-direction: column; justify-content: center; font-family: 'Roboto', sans-serif; background-color: #F8ACD4; }

.liens_logo { width: 8vh; height: 8vh;}

footer { background-color: #1C4C7C; color: white; height: 20vh; font-family: 'Roboto', sans-serif; display: flex; align-items: center; justify-content: center;}
