body { height: 100%; margin-top: 0; width: 100%; margin: auto; padding-top: 0; }

.nom { font-family: 'Roboto', sans-serif; font-size: 24px; float: left; margin-left: 10vh;}

.cadre { font-family: 'Roboto'; display: flex; flex-direction: column; float: right; margin-right: 10vh; color: black; text-decoration: none;}

.taille { height: 3vh; width: 3vh;}

.pcv { display: flex; z-index: 3; position: relative; margin-top: 5em; border-radius: 160px; margin-left: 100vh; box-shadow: 2px 2px 12px #555;}

.metier { display: flex; margin-left: 100vh; align-items: center; font-family: 'Roboto', sans-serif; color: white; font-size: 22px; position: absolute;}

.trait { display: flex; height: 10vh; width: 100%; background-color: #1C4C7C; position: absolute;}

.experience { display: flex; justify-content: flex-start; flex-direction: column; font-family: 'Roboto', sans-serif; color: #AFB5B5; margin-left: 70vh;}

strong { color: #00CECE;}

section { display: flex; flex-direction: row; margin-top: 10vh;}

aside { display: flex; flex-direction: column; margin-left: 100vh;}

.formations {display: flex; align-items: center; flex-direction: column; justify-content:  center; font-family: 'Roboto', sans-serif; background-color: #7CD4FC; height: 30vh; width: 30vh; float: right;}

.competences { display: flex; align-items: center; flex-direction: column; justify-content: center; font-family: 'Roboto', sans-serif; background-color: #9CF47C; height: 30vh; width: 30vh; float: right;}

.langues { display: flex; align-items: center; flex-direction: column; justify-content: center; font-family: 'Roboto', sans-serif; background-color: #FCFC8C; height: 30vh; width: 30vh; float: right;}

.liens { display: flex; align-items: center; flex-direction: column; justify-content: center; font-family: 'Roboto', sans-serif; background-color: #F8ACD4; height: 30vh; width: 30vh; float: right;}

.liens_logo { width: 8vh; height: 8vh;}

footer { background-color: #1C4C7C; color: white; height: 20vh; font-family: 'Roboto', sans-serif; display: flex; align-items: center; justify-content: center;}

@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: hinge;
  animation-name: hinge;
}
